# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.moon/cache
.moon/docker
.pnpm-store
apps/api/dist
apps/web/dist
apps/api/.mastra

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env